
# Source code
.github
.vscode
src
eslint.config.js
nodemon.json
tsconfig.json

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Local testing
test

# OS files
.DS_Store
Thumbs.db
